streamlit
pandas
plotly
kaleido==0.2.1

wordcloud
streamlit-aggrid
openpyxl
nltk
matplotlib
Sastrawi
thefuzz
python-Levenshtein
scikit-learn
scipy
requests
beautifulsoup4
bcrypt
streamlit-cookies-controller
psycopg[binary]
Pillow